.Rhistory
.RData
.Rproj.user
inst/doc

# extra user files from me
sandbox/
internal_checks/
R_ignore/NatComms_VerityAB2019_Sims/results/
*.jpg
*.svg
simulations/*.html
Meta
ignore/*

# mac files
.DS_Store

.claude/
